li(class="right")
	a(class="menu-button" href="#")
		+navbar_led("hid-recorder-led", "led-gear")
		| Node
	div(data-dont-hide-menu class="menu")
		hr
		table(class="kv")
			tr 
				td Node
				td Status
				td 
			tr(id="hid-node-1" class="feature-disabled")
				td 1
				td(colspan="2" id="hid-node1" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-1" class="row16") ON
					button(id="hid-node-close-1" class="row16") OFF
					button(id="hid-node-staus-on-1" class="row16") ENB
					button(id="hid-node-staus-off-1" class="row16") DSB
					button(id="hid-node-reset-1" class="row16") RST
					button(id="hid-node-kvm-1" class="row16") KVM
			tr(id="hid-node-2" class="feature-disabled")
				td 2
				td(colspan="2" id="hid-node2" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-2" class="row16") ON
					button(id="hid-node-close-2" class="row16") OFF
					button(id="hid-node-staus-on-2" class="row16") ENB
					button(id="hid-node-staus-off-2" class="row16") DSB
					button(id="hid-node-reset-2" class="row16") RST
					button(id="hid-node-kvm-2" class="row16") KVM
			tr(id="hid-node-3" class="feature-disabled")
				td 3
				td(colspan="2" id="hid-node3" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-3" class="row16") ON
					button(id="hid-node-close-3" class="row16") OFF
					button(id="hid-node-staus-on-3" class="row16") ENB
					button(id="hid-node-staus-off-3" class="row16") DSB
					button(id="hid-node-reset-3" class="row16") RST
					button(id="hid-node-kvm-3" class="row16") KVM
			tr(id="hid-node-4" class="feature-disabled")
				td 4
				td(colspan="2" id="hid-node4" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-4" class="row16") ON
					button(id="hid-node-close-4" class="row16") OFF
					button(id="hid-node-staus-on-4" class="row16") ENB
					button(id="hid-node-staus-off-4" class="row16") DSB
					button(id="hid-node-reset-4" class="row16") RST
					button(id="hid-node-kvm-4" class="row16") KVM
			tr(id="hid-node-5" class="feature-disabled")
				td 5
				td(colspan="2" id="hid-node5" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-5" class="row16") ON
					button(id="hid-node-close-5" class="row16") OFF
					button(id="hid-node-staus-on-5" class="row16") ENB
					button(id="hid-node-staus-off-5" class="row16") DSB
					button(id="hid-node-reset-5" class="row16") RST
					button(id="hid-node-kvm-5" class="row16") KVM
			tr(id="hid-node-6" class="feature-disabled")
				td 6
				td(colspan="2" id="hid-node6" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-6" class="row16") ON
					button(id="hid-node-close-6" class="row16") OFF
					button(id="hid-node-staus-on-6" class="row16") ENB
					button(id="hid-node-staus-off-6" class="row16") DSB
					button(id="hid-node-reset-6" class="row16") RST
					button(id="hid-node-kvm-6" class="row16") KVM
			tr(id="hid-node-7" class="feature-disabled")
				td 7
				td(colspan="2" id="hid-node7" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-7" class="row16") ON
					button(id="hid-node-close-7" class="row16") OFF
					button(id="hid-node-staus-on-7" class="row16") ENB
					button(id="hid-node-staus-off-7" class="row16") DSB
					button(id="hid-node-reset-7" class="row16") RST
					button(id="hid-node-kvm-7" class="row16") KVM
			tr(id="hid-node-8" class="feature-disabled")
				td 8
				td(colspan="2" id="hid-node8" class="value")
				td 
					div(class="buttons buttons-row")
					button(id="hid-node-open-8" class="row16") ON
					button(id="hid-node-close-8" class="row16") OFF
					button(id="hid-node-staus-on-8" class="row16") ENB
					button(id="hid-node-staus-off-8" class="row16") DSB
					button(id="hid-node-reset-8" class="row16") RST
					button(id="hid-node-kvm-8" class="row16") KVM
		hr